state-machine.json
{
  "Comment": "Pipeline MS2: S3 Clone -> Orchestrator Plan -> Parallel Agents -> Orchestrator Aggregate -> Webhook",
  "StartAt": "Initialize",
  "QueryLanguage": "JSONata",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "Assign": {
        "jobId": "{% $states.context.Execution.Name %}",
        "repoUrl": "{% $states.input.repoUrl %}",
        "s3Prefix": "{% 'repos/' & $states.context.Execution.Name %}"
      },
      "Next": "MainAnalysisProcess"
    },

    "MainAnalysisProcess": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Pull Repo to S3",
          "States": {
            "Pull Repo to S3": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-pullRepoToS3",
                "Payload": {
                  "jobId": "{% $jobId %}",
                  "repoUrl": "{% $repoUrl %}",
                  "s3Prefix": "{% $s3Prefix %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.TooManyRequestsException",
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3
                }
              ],
              "Assign": {
                "s3Bucket": "{% $states.result.Payload.s3Bucket %}",
                "s3Key": "{% $states.result.Payload.s3Key %}",
                "repoMetadata": "{% $states.result.Payload.repoMetadata %}"
              },
              "Next": "Orchestrator Planning"
            },

            "Orchestrator Planning": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-orchestrator",
                "Payload": {
                  "action": "PLAN",
                  "payload": { "repoMetadata": "{% $repoMetadata %}" }
                }
              },
              "Assign": {
                "orchestratorPlan": "{% $states.result.Payload %}",
                "agentPayload": {
                  "s3Bucket": "{% $s3Bucket %}",
                  "s3Key": "{% $s3Key %}",
                  "s3Prefix": "{% $s3Prefix %}",
                  "jobId": "{% $jobId %}"
                }
              },
              "Next": "Parallel AI Analysis"
            },

            "Parallel AI Analysis": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Run OWASP Agent",
                  "States": {
                    "Run OWASP Agent": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::lambda:invoke",
                      "Arguments": {
                        "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-owaspAgent",
                        "Payload": "{% $agentPayload %}"
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Run Test Agent",
                  "States": {
                    "Run Test Agent": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::lambda:invoke",
                      "Arguments": {
                        "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-testAgent",
                        "Payload": "{% $agentPayload %}"
                      },
                      "End": true
                    }
                  }
                }
              ],
              "Assign": { "parallelResults": "{% $states.result %}" },
              "Next": "Should Run Docs?"
            },

            "Should Run Docs?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Condition": "{% $orchestratorPlan.runDocs = true %}",
                  "Next": "Run Docs Agent"
                }
              ],
              "Default": "Orchestrator Aggregation"
            },

            "Run Docs Agent": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-docsAgent",
                "Payload": "{% $agentPayload %}"
              },
              "Assign": {
                "parallelResults": "{% $states.result.Payload != null ? $append($parallelResults, [$states.result]) : $parallelResults %}"
              },
              "Next": "Orchestrator Aggregation"
            },

            "Orchestrator Aggregation": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-orchestrator",
                "Payload": {
                  "action": "AGGREGATE",
                  "payload": {
                    "jobId": "{% $jobId %}",
                    "s3Bucket": "{% $s3Bucket %}",
                    "reports": "{% $parallelResults[].Payload %}"
                  }
                }
              },
              "Assign": { "finalReport": "{% $states.result.Payload %}" },
              "Next": "Notify Webhook"
            },

            "Notify Webhook": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-webhookSender",
                "Payload": {
                  "report": "{% $finalReport %}",
                  "jobId": "{% $jobId %}"
                }
              },
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Handle Failure",
          "Output": {
            "jobId": "{% $jobId %}",
            "errorInfo": "{% $states.errorOutput %}"
          }
        }
      ],
      "Next": "Success"
    },

    "Handle Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-failureHandler",
        "Payload": "{% $states.input %}"
      },
      "Next": "Fail Execution"
    },

    "Fail Execution": {
      "Type": "Fail",
      "Error": "AnalysisFailed",
      "Cause": "L'analisi è terminata con un errore."
    },
    "Success": { "Type": "Succeed" }
  }
}