state-machine.json
{
  "Comment": "Pipeline MS2: S3 Clone -> Orchestrator Plan -> Parallel Agents -> Orchestrator Aggregate -> Webhook",
  "StartAt": "Initialize",
  "QueryLanguage": "JSONata",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "Assign": {
        "jobId": "{% $states.input.jobId %}",
        "repoUrl": "{% $states.input.repoUrl %}",
        "commitSha": "{% $states.input.commitSha %}",
        "webhookUrl": "{% $states.input.webhookUrl %}",
        "s3Prefix": "{% 'repos/' & $states.input.jobId & '/' & $states.input.commitSha %}"
      },
      "Next": "Pull Repo to S3"
    },
    "Pull Repo to S3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-pullRepoToS3",
        "Payload": {
          "jobId": "{% $jobId %}",
          "repoUrl": "{% $repoUrl %}",
          "commitSha": "{% $commitSha %}",
          "s3Prefix": "{% $s3Prefix %}"
        }
      },
      "Assign": {
        "s3Bucket": "{% $states.result.Payload.s3Bucket %}",
        "s3Key": "{% $states.result.Payload.s3Key %}",
        "repoMetadata": "{% $states.result.Payload.repoMetadata %}"
      },
      "Next": "Orchestrator Planning"
    },
    "Orchestrator Planning": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-orchestrator",
        "Payload": {
          "action": "PLAN",
          "payload": {
            "repoMetadata": "{% $repoMetadata %}"
          }
        }
      },
      "Assign": {
        "orchestratorPlan": "{% $states.result.Payload %}",
        "agentPayload": {
          "s3Bucket": "{% $s3Bucket %}",
          "s3Key": "{% $s3Key %}",
          "s3Prefix": "{% $s3Prefix %}",
          "jobId": "{% $jobId %}"
        }
      },
      "Next": "Parallel AI Analysis"
    },
    "Parallel AI Analysis": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Run OWASP Agent",
          "States": {
            "Run OWASP Agent": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-owaspAgent",
                "Payload": "{% $agentPayload %}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Run Test Agent",
          "States": {
            "Run Test Agent": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-testAgent",
                "Payload": "{% $agentPayload %}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Check Run Docs",
          "States": {
            "Check Run Docs": {
              "Type": "Choice",
              "Choices": [
                {
                  "Condition": "{% $orchestratorPlan.runDocs %}",
                  "Next": "Run Docs Agent"
                }
              ],
              "Default": "Skip Docs Agent"
            },
            "Skip Docs Agent": {
              "Type": "Pass",
              "Output": {
                "Payload": {
                  "agent": "docs",
                  "status": "skipped"
                }
              },
              "End": true
            },
            "Run Docs Agent": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-docsAgent",
                "Payload": "{% $agentPayload %}"
              },
              "End": true
            }
          }
        }
      ],
      "Assign": {
        "parallelResults": "{% $states.result %}"
      },
      "Next": "Orchestrator Aggregation"
    },
    "Orchestrator Aggregation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-orchestrator",
        "Payload": {
          "action": "AGGREGATE",
          "payload": {
            "jobId": "{% $jobId %}",
            "s3Bucket": "{% $s3Bucket %}",
            "reports": "{% $parallelResults[].Payload %}"
          }
        }
      },
      "Assign": {
        "finalReport": "{% $states.result.Payload %}"
      },
      "Next": "Notify Webhook"
    },
    "Notify Webhook": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:ms2-analysis-service-${sls:stage}-webhookSender",
        "Payload": {
          "webhookUrl": "{% $webhookUrl %}",
          "report": "{% $finalReport %}"
        }
      },
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}