.serverless/meta.json
{
  "/Users/albertoreginato/Documents/AnalysisService/serverless.yml": {
    "versionFramework": "4.33.0",
    "servicePath": "/Users/albertoreginato/Documents/AnalysisService/serverless.yml",
    "serviceConfigFileName": "serverless.yml",
    "service": {
      "service": "ms2-analysis-service",
      "provider": {
        "name": "aws",
        "runtime": "nodejs20.x",
        "region": "eu-central-1",
        "memorySize": 512,
        "iamRoleStatements": [
          {
            "Effect": "Allow",
            "Action": [
              "s3:PutObject",
              "s3:GetObject"
            ],
            "Resource": [
              {
                "Fn::Join": [
                  "",
                  [
                    {
                      "Fn::GetAtt": [
                        "RepositoryBucket",
                        "Arn"
                      ]
                    },
                    "/*"
                  ]
                ]
              }
            ]
          },
          {
            "Effect": "Allow",
            "Action": [
              "states:StartExecution"
            ],
            "Resource": [
              {
                "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ms2-pipeline-dev"
              }
            ]
          },
          {
            "Effect": "Allow",
            "Action": [
              "lambda:InvokeFunction"
            ],
            "Resource": "*"
          },
          {
            "Effect": "Allow",
            "Action": [
              "bedrock:InvokeModel"
            ],
            "Resource": "*"
          }
        ],
        "stage": "dev",
        "versionFunctions": true,
        "compiledCloudFormationTemplate": {
          "AWSTemplateFormatVersion": "2010-09-09",
          "Description": "The AWS CloudFormation template for this Serverless application",
          "Resources": {
            "WrapperAdapterLogGroup": {
              "Type": "AWS::Logs::LogGroup",
              "Properties": {
                "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-wrapperAdapter"
              }
            },
            "PullRepoToS3LogGroup": {
              "Type": "AWS::Logs::LogGroup",
              "Properties": {
                "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-pullRepoToS3"
              }
            },
            "WebhookSenderLogGroup": {
              "Type": "AWS::Logs::LogGroup",
              "Properties": {
                "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-webhookSender"
              }
            },
            "OrchestratorLogGroup": {
              "Type": "AWS::Logs::LogGroup",
              "Properties": {
                "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-orchestrator"
              }
            },
            "OwaspAgentLogGroup": {
              "Type": "AWS::Logs::LogGroup",
              "Properties": {
                "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-owaspAgent"
              }
            },
            "TestAgentLogGroup": {
              "Type": "AWS::Logs::LogGroup",
              "Properties": {
                "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-testAgent"
              }
            },
            "DocsAgentLogGroup": {
              "Type": "AWS::Logs::LogGroup",
              "Properties": {
                "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-docsAgent"
              }
            },
            "IamRoleLambdaExecution": {
              "Type": "AWS::IAM::Role",
              "Properties": {
                "AssumeRolePolicyDocument": {
                  "Version": "2012-10-17",
                  "Statement": [
                    {
                      "Effect": "Allow",
                      "Principal": {
                        "Service": [
                          "lambda.amazonaws.com"
                        ]
                      },
                      "Action": [
                        "sts:AssumeRole"
                      ]
                    }
                  ]
                },
                "Policies": [
                  {
                    "PolicyName": {
                      "Fn::Join": [
                        "-",
                        [
                          "ms2-analysis-service",
                          "dev",
                          "lambda"
                        ]
                      ]
                    },
                    "PolicyDocument": {
                      "Version": "2012-10-17",
                      "Statement": [
                        {
                          "Effect": "Allow",
                          "Action": [
                            "logs:CreateLogStream",
                            "logs:CreateLogGroup",
                            "logs:TagResource"
                          ],
                          "Resource": [
                            {
                              "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/ms2-analysis-service-dev*:*"
                            }
                          ]
                        },
                        {
                          "Effect": "Allow",
                          "Action": [
                            "logs:PutLogEvents"
                          ],
                          "Resource": [
                            {
                              "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/ms2-analysis-service-dev*:*:*"
                            }
                          ]
                        },
                        {
                          "Effect": "Allow",
                          "Action": [
                            "s3:PutObject",
                            "s3:GetObject"
                          ],
                          "Resource": [
                            {
                              "Fn::Join": [
                                "",
                                [
                                  {
                                    "Fn::GetAtt": [
                                      "RepositoryBucket",
                                      "Arn"
                                    ]
                                  },
                                  "/*"
                                ]
                              ]
                            }
                          ]
                        },
                        {
                          "Effect": "Allow",
                          "Action": [
                            "states:StartExecution"
                          ],
                          "Resource": [
                            {
                              "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ms2-pipeline-dev"
                            }
                          ]
                        },
                        {
                          "Effect": "Allow",
                          "Action": [
                            "lambda:InvokeFunction"
                          ],
                          "Resource": "*"
                        },
                        {
                          "Effect": "Allow",
                          "Action": [
                            "bedrock:InvokeModel"
                          ],
                          "Resource": "*"
                        }
                      ]
                    }
                  }
                ],
                "Path": "/",
                "RoleName": {
                  "Fn::Join": [
                    "-",
                    [
                      "ms2-analysis-service",
                      "dev",
                      {
                        "Ref": "AWS::Region"
                      },
                      "lambdaRole"
                    ]
                  ]
                }
              }
            },
            "WrapperAdapterLambdaFunction": {
              "Type": "AWS::Lambda::Function",
              "Properties": {
                "Code": {
                  "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                  "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
                },
                "Handler": "dist/wrapper/handler.startAnalysis",
                "Runtime": "nodejs20.x",
                "FunctionName": "ms2-analysis-service-dev-wrapperAdapter",
                "MemorySize": 512,
                "Timeout": 6,
                "Environment": {
                  "Variables": {
                    "STATE_MACHINE_ARN": {
                      "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ms2-pipeline-dev"
                    }
                  }
                },
                "Role": {
                  "Fn::GetAtt": [
                    "IamRoleLambdaExecution",
                    "Arn"
                  ]
                }
              },
              "DependsOn": [
                "WrapperAdapterLogGroup"
              ]
            },
            "PullRepoToS3LambdaFunction": {
              "Type": "AWS::Lambda::Function",
              "Properties": {
                "Code": {
                  "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                  "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
                },
                "Handler": "dist/lambdas/pull-repo.handler",
                "Runtime": "nodejs20.x",
                "FunctionName": "ms2-analysis-service-dev-pullRepoToS3",
                "MemorySize": 2048,
                "Timeout": 300,
                "Environment": {
                  "Variables": {
                    "S3_BUCKET_NAME": {
                      "Ref": "RepositoryBucket"
                    }
                  }
                },
                "Role": {
                  "Fn::GetAtt": [
                    "IamRoleLambdaExecution",
                    "Arn"
                  ]
                },
                "Layers": [
                  "arn:aws:lambda:eu-central-1:553035198032:layer:git-lambda2:8"
                ]
              },
              "DependsOn": [
                "PullRepoToS3LogGroup"
              ]
            },
            "WebhookSenderLambdaFunction": {
              "Type": "AWS::Lambda::Function",
              "Properties": {
                "Code": {
                  "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                  "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
                },
                "Handler": "dist/lambdas/webhook.handler",
                "Runtime": "nodejs20.x",
                "FunctionName": "ms2-analysis-service-dev-webhookSender",
                "MemorySize": 512,
                "Timeout": 15,
                "Role": {
                  "Fn::GetAtt": [
                    "IamRoleLambdaExecution",
                    "Arn"
                  ]
                }
              },
              "DependsOn": [
                "WebhookSenderLogGroup"
              ]
            },
            "OrchestratorLambdaFunction": {
              "Type": "AWS::Lambda::Function",
              "Properties": {
                "Code": {
                  "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                  "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
                },
                "Handler": "dist/lambdas/orchestrator.orchestratorHandler",
                "Runtime": "nodejs20.x",
                "FunctionName": "ms2-analysis-service-dev-orchestrator",
                "MemorySize": 512,
                "Timeout": 300,
                "Environment": {
                  "Variables": {
                    "LAMBDA_OWASP_NAME": "ms2-analysis-service-dev-owaspAgent",
                    "LAMBDA_TEST_NAME": "ms2-analysis-service-dev-testAgent",
                    "LAMBDA_DOCS_NAME": "ms2-analysis-service-dev-docsAgent"
                  }
                },
                "Role": {
                  "Fn::GetAtt": [
                    "IamRoleLambdaExecution",
                    "Arn"
                  ]
                }
              },
              "DependsOn": [
                "OrchestratorLogGroup"
              ]
            },
            "OwaspAgentLambdaFunction": {
              "Type": "AWS::Lambda::Function",
              "Properties": {
                "Code": {
                  "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                  "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
                },
                "Handler": "dist/lambdas/owasp-agent.owaspAgentHandler",
                "Runtime": "nodejs20.x",
                "FunctionName": "ms2-analysis-service-dev-owaspAgent",
                "MemorySize": 512,
                "Timeout": 300,
                "Role": {
                  "Fn::GetAtt": [
                    "IamRoleLambdaExecution",
                    "Arn"
                  ]
                }
              },
              "DependsOn": [
                "OwaspAgentLogGroup"
              ]
            },
            "TestAgentLambdaFunction": {
              "Type": "AWS::Lambda::Function",
              "Properties": {
                "Code": {
                  "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                  "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
                },
                "Handler": "dist/lambdas/test-agent.testAgentHandler",
                "Runtime": "nodejs20.x",
                "FunctionName": "ms2-analysis-service-dev-testAgent",
                "MemorySize": 512,
                "Timeout": 300,
                "Role": {
                  "Fn::GetAtt": [
                    "IamRoleLambdaExecution",
                    "Arn"
                  ]
                }
              },
              "DependsOn": [
                "TestAgentLogGroup"
              ]
            },
            "DocsAgentLambdaFunction": {
              "Type": "AWS::Lambda::Function",
              "Properties": {
                "Code": {
                  "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                  "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
                },
                "Handler": "dist/lambdas/docs-agent.docAgentHandler",
                "Runtime": "nodejs20.x",
                "FunctionName": "ms2-analysis-service-dev-docsAgent",
                "MemorySize": 512,
                "Timeout": 300,
                "Role": {
                  "Fn::GetAtt": [
                    "IamRoleLambdaExecution",
                    "Arn"
                  ]
                }
              },
              "DependsOn": [
                "DocsAgentLogGroup"
              ]
            },
            "WrapperAdapterLambdaVersionb8t30mWRFgnycuhZyc3KUMbXfP4iyhSJGDu4tCgyrE": {
              "Type": "AWS::Lambda::Version",
              "DeletionPolicy": "Retain",
              "Properties": {
                "FunctionName": {
                  "Ref": "WrapperAdapterLambdaFunction"
                },
                "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
              }
            },
            "PullRepoToS3LambdaVersionAOAceQ3TjRi7Fyr3Lj2dL4FaBb9Q3cz2bkPevHeXSY": {
              "Type": "AWS::Lambda::Version",
              "DeletionPolicy": "Retain",
              "Properties": {
                "FunctionName": {
                  "Ref": "PullRepoToS3LambdaFunction"
                },
                "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
              }
            },
            "WebhookSenderLambdaVersionUi3UXvVmN4w36Cn2ZkLZ7ACLrek1z6tuS45wlHsg1Q": {
              "Type": "AWS::Lambda::Version",
              "DeletionPolicy": "Retain",
              "Properties": {
                "FunctionName": {
                  "Ref": "WebhookSenderLambdaFunction"
                },
                "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
              }
            },
            "OrchestratorLambdaVersiondJoVQbQ3MvK2gIcTCLC2KgKFS1O6ACbnb7U0sNGo": {
              "Type": "AWS::Lambda::Version",
              "DeletionPolicy": "Retain",
              "Properties": {
                "FunctionName": {
                  "Ref": "OrchestratorLambdaFunction"
                },
                "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
              }
            },
            "OwaspAgentLambdaVersionO6bHhv7el3x9lvSxNipJ67bPJWyKROpDn4YpFZe64k": {
              "Type": "AWS::Lambda::Version",
              "DeletionPolicy": "Retain",
              "Properties": {
                "FunctionName": {
                  "Ref": "OwaspAgentLambdaFunction"
                },
                "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
              }
            },
            "TestAgentLambdaVersionkFprWSc0I1qaTNgGziMQv1Pb5Y5bSrQHOghHcq3I": {
              "Type": "AWS::Lambda::Version",
              "DeletionPolicy": "Retain",
              "Properties": {
                "FunctionName": {
                  "Ref": "TestAgentLambdaFunction"
                },
                "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
              }
            },
            "DocsAgentLambdaVersionkbhDezBtT6cjByr0gUmx2KQXajFmSGD3ffJX0uWD80": {
              "Type": "AWS::Lambda::Version",
              "DeletionPolicy": "Retain",
              "Properties": {
                "FunctionName": {
                  "Ref": "DocsAgentLambdaFunction"
                },
                "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
              }
            },
            "Ms2DashpipelineDashdevRole": {
              "Type": "AWS::IAM::Role",
              "Properties": {
                "AssumeRolePolicyDocument": {
                  "Version": "2012-10-17",
                  "Statement": [
                    {
                      "Effect": "Allow",
                      "Principal": {
                        "Service": {
                          "Fn::Sub": "states.${AWS::Region}.amazonaws.com"
                        }
                      },
                      "Action": "sts:AssumeRole"
                    }
                  ]
                },
                "Policies": [
                  {
                    "PolicyName": "dev-ms2-analysis-service-statemachine",
                    "PolicyDocument": {
                      "Version": "2012-10-17",
                      "Statement": [
                        {
                          "Effect": "Allow",
                          "Action": [
                            "lambda:InvokeFunction"
                          ],
                          "Resource": [
                            "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-pullRepoToS3",
                            "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-pullRepoToS3:*",
                            "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-orchestrator",
                            "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-orchestrator:*",
                            "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-webhookSender",
                            "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-webhookSender:*"
                          ]
                        }
                      ]
                    }
                  }
                ]
              }
            },
            "Ms2DashpipelineDashdev": {
              "Type": "AWS::StepFunctions::StateMachine",
              "Properties": {
                "DefinitionString": "{\n  \"Comment\": \"Pipeline MS2: S3 Clone -> Orchestrator -> Webhook\",\n  \"StartAt\": \"Initialize\",\n  \"QueryLanguage\": \"JSONata\",\n  \"States\": {\n    \"Initialize\": {\n      \"Type\": \"Pass\",\n      \"Assign\": {\n        \"jobId\": \"{% $states.input.jobId %}\",\n        \"repoUrl\": \"{% $states.input.repoUrl %}\",\n        \"commitSha\": \"{% $states.input.commitSha %}\",\n        \"webhookUrl\": \"{% $states.input.webhookUrl %}\",\n        \"s3Prefix\": \"{% 'repos/' & $states.input.jobId & '/' & $states.input.commitSha %}\"\n      },\n      \"Next\": \"Pull Repo to S3\"\n    },\n    \"Pull Repo to S3\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Arguments\": {\n        \"FunctionName\": \"arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-pullRepoToS3\",\n        \"Payload\": {\n          \"jobId\": \"{% $jobId %}\",\n          \"repoUrl\": \"{% $repoUrl %}\",\n          \"commitSha\": \"{% $commitSha %}\",\n          \"s3Prefix\": \"{% $s3Prefix %}\"\n        }\n      },\n      \"Assign\": {\n        \"s3Bucket\": \"{% $states.result.Payload.s3Bucket %}\",\n        \"s3Key\": \"{% $states.result.Payload.s3Key %}\",\n        \"repoMetadata\": \"{% $states.result.Payload.repoMetadata %}\"\n      },\n      \"Next\": \"Run Orchestrator\"\n    },\n    \"Run Orchestrator\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Arguments\": {\n        \"FunctionName\": \"arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-orchestrator\",\n        \"Payload\": {\n          \"s3Bucket\": \"{% $s3Bucket %}\",\n          \"s3Key\": \"{% $s3Key %}\",\n          \"isRelease\": \"{% $count($repoMetadata.tags) > 0 or $repoMetadata.hasChangelog %}\",\n          \"orchestratorRaw\": \"{% 'Metadati Repo: ' & $string($repoMetadata) %}\"\n        }\n      },\n      \"Assign\": {\n        \"finalReport\": \"{% $states.result.Payload %}\"\n      },\n      \"Next\": \"Notify Webhook\"\n    },\n    \"Notify Webhook\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Arguments\": {\n        \"FunctionName\": \"arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-webhookSender\",\n        \"Payload\": {\n          \"webhookUrl\": \"{% $webhookUrl %}\",\n          \"report\": \"{% $finalReport %}\"\n        }\n      },\n      \"Next\": \"Success\"\n    },\n    \"Success\": {\n      \"Type\": \"Succeed\"\n    }\n  }\n}",
                "RoleArn": {
                  "Fn::GetAtt": [
                    "Ms2DashpipelineDashdevRole",
                    "Arn"
                  ]
                },
                "StateMachineName": "ms2-pipeline-dev"
              },
              "DependsOn": [
                "Ms2DashpipelineDashdevRole"
              ]
            },
            "ApiGatewayRestApi": {
              "Type": "AWS::ApiGateway::RestApi",
              "Properties": {
                "Name": "dev-ms2-analysis-service",
                "EndpointConfiguration": {
                  "Types": [
                    "EDGE"
                  ]
                },
                "Policy": ""
              }
            },
            "ApiGatewayResourceAnalyze": {
              "Type": "AWS::ApiGateway::Resource",
              "Properties": {
                "ParentId": {
                  "Fn::GetAtt": [
                    "ApiGatewayRestApi",
                    "RootResourceId"
                  ]
                },
                "PathPart": "analyze",
                "RestApiId": {
                  "Ref": "ApiGatewayRestApi"
                }
              }
            },
            "ApiGatewayMethodAnalyzePost": {
              "Type": "AWS::ApiGateway::Method",
              "Properties": {
                "HttpMethod": "POST",
                "RequestParameters": {},
                "ResourceId": {
                  "Ref": "ApiGatewayResourceAnalyze"
                },
                "RestApiId": {
                  "Ref": "ApiGatewayRestApi"
                },
                "ApiKeyRequired": "<REDACTED>",
                "AuthorizationType": "NONE",
                "Integration": {
                  "IntegrationHttpMethod": "POST",
                  "Type": "AWS_PROXY",
                  "Uri": {
                    "Fn::Join": [
                      "",
                      [
                        "arn:",
                        {
                          "Ref": "AWS::Partition"
                        },
                        ":apigateway:",
                        {
                          "Ref": "AWS::Region"
                        },
                        ":lambda:path/2015-03-31/functions/",
                        {
                          "Fn::GetAtt": [
                            "WrapperAdapterLambdaFunction",
                            "Arn"
                          ]
                        },
                        "/invocations"
                      ]
                    ]
                  }
                },
                "MethodResponses": []
              },
              "DependsOn": [
                "WrapperAdapterLambdaPermissionApiGateway"
              ]
            },
            "ApiGatewayDeployment1774720925298": {
              "Type": "AWS::ApiGateway::Deployment",
              "Properties": {
                "RestApiId": {
                  "Ref": "ApiGatewayRestApi"
                },
                "StageName": "dev"
              },
              "DependsOn": [
                "ApiGatewayMethodAnalyzePost"
              ]
            },
            "WrapperAdapterLambdaPermissionApiGateway": {
              "Type": "AWS::Lambda::Permission",
              "Properties": {
                "FunctionName": {
                  "Fn::GetAtt": [
                    "WrapperAdapterLambdaFunction",
                    "Arn"
                  ]
                },
                "Action": "lambda:InvokeFunction",
                "Principal": "apigateway.amazonaws.com",
                "SourceArn": {
                  "Fn::Join": [
                    "",
                    [
                      "arn:",
                      {
                        "Ref": "AWS::Partition"
                      },
                      ":execute-api:",
                      {
                        "Ref": "AWS::Region"
                      },
                      ":",
                      {
                        "Ref": "AWS::AccountId"
                      },
                      ":",
                      {
                        "Ref": "ApiGatewayRestApi"
                      },
                      "/*/*"
                    ]
                  ]
                }
              }
            },
            "RepositoryBucket": {
              "Type": "AWS::S3::Bucket",
              "Properties": {
                "BucketName": "ms2-analysis-repos-bucket-dev-503104739946",
                "LifecycleConfiguration": {
                  "Rules": [
                    {
                      "Id": "AutoDeleteOldZips",
                      "Status": "Enabled",
                      "ExpirationInDays": 1
                    }
                  ]
                }
              }
            }
          },
          "Outputs": {
            "ServerlessDeploymentBucketName": {
              "Value": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
              "Export": {
                "Name": "sls-ms2-analysis-service-dev-ServerlessDeploymentBucketName"
              }
            },
            "WrapperAdapterLambdaFunctionQualifiedArn": {
              "Description": "Current Lambda function version",
              "Value": {
                "Ref": "WrapperAdapterLambdaVersionb8t30mWRFgnycuhZyc3KUMbXfP4iyhSJGDu4tCgyrE"
              },
              "Export": {
                "Name": "sls-ms2-analysis-service-dev-WrapperAdapterLambdaFunctionQualifiedArn"
              }
            },
            "PullRepoToS3LambdaFunctionQualifiedArn": {
              "Description": "Current Lambda function version",
              "Value": {
                "Ref": "PullRepoToS3LambdaVersionAOAceQ3TjRi7Fyr3Lj2dL4FaBb9Q3cz2bkPevHeXSY"
              },
              "Export": {
                "Name": "sls-ms2-analysis-service-dev-PullRepoToS3LambdaFunctionQualifiedArn"
              }
            },
            "WebhookSenderLambdaFunctionQualifiedArn": {
              "Description": "Current Lambda function version",
              "Value": {
                "Ref": "WebhookSenderLambdaVersionUi3UXvVmN4w36Cn2ZkLZ7ACLrek1z6tuS45wlHsg1Q"
              },
              "Export": {
                "Name": "sls-ms2-analysis-service-dev-WebhookSenderLambdaFunctionQualifiedArn"
              }
            },
            "OrchestratorLambdaFunctionQualifiedArn": {
              "Description": "Current Lambda function version",
              "Value": {
                "Ref": "OrchestratorLambdaVersiondJoVQbQ3MvK2gIcTCLC2KgKFS1O6ACbnb7U0sNGo"
              },
              "Export": {
                "Name": "sls-ms2-analysis-service-dev-OrchestratorLambdaFunctionQualifiedArn"
              }
            },
            "OwaspAgentLambdaFunctionQualifiedArn": {
              "Description": "Current Lambda function version",
              "Value": {
                "Ref": "OwaspAgentLambdaVersionO6bHhv7el3x9lvSxNipJ67bPJWyKROpDn4YpFZe64k"
              },
              "Export": {
                "Name": "sls-ms2-analysis-service-dev-OwaspAgentLambdaFunctionQualifiedArn"
              }
            },
            "TestAgentLambdaFunctionQualifiedArn": {
              "Description": "Current Lambda function version",
              "Value": {
                "Ref": "TestAgentLambdaVersionkFprWSc0I1qaTNgGziMQv1Pb5Y5bSrQHOghHcq3I"
              },
              "Export": {
                "Name": "sls-ms2-analysis-service-dev-TestAgentLambdaFunctionQualifiedArn"
              }
            },
            "DocsAgentLambdaFunctionQualifiedArn": {
              "Description": "Current Lambda function version",
              "Value": {
                "Ref": "DocsAgentLambdaVersionkbhDezBtT6cjByr0gUmx2KQXajFmSGD3ffJX0uWD80"
              },
              "Export": {
                "Name": "sls-ms2-analysis-service-dev-DocsAgentLambdaFunctionQualifiedArn"
              }
            },
            "Ms2DashpipelineDashdevArn": {
              "Description": "Current StateMachine Arn",
              "Value": {
                "Ref": "Ms2DashpipelineDashdev"
              },
              "Export": {
                "Name": "sls-ms2-analysis-service-dev-Ms2DashpipelineDashdevArn"
              }
            },
            "ServiceEndpoint": {
              "Description": "URL of the service endpoint",
              "Value": {
                "Fn::Join": [
                  "",
                  [
                    "https://",
                    {
                      "Ref": "ApiGatewayRestApi"
                    },
                    ".execute-api.",
                    {
                      "Ref": "AWS::Region"
                    },
                    ".",
                    {
                      "Ref": "AWS::URLSuffix"
                    },
                    "/dev"
                  ]
                ]
              },
              "Export": {
                "Name": "sls-ms2-analysis-service-dev-ServiceEndpoint"
              }
            }
          }
        },
        "vpc": {}
      },
      "package": {
        "individually": false,
        "patterns": [
          "!src/**",
          "!test/**",
          "!.github/**",
          "dist/**",
          "node_modules/**"
        ],
        "artifactsS3KeyDirname": "serverless/ms2-analysis-service/dev/code-artifacts",
        "deploymentBucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
        "artifact": "/Users/albertoreginato/Documents/AnalysisService/.serverless/ms2-analysis-service.zip",
        "artifactDirectoryName": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z"
      },
      "build": {
        "esbuild": false
      },
      "plugins": [
        "serverless-step-functions",
        "serverless-offline"
      ],
      "functions": {
        "wrapperAdapter": {
          "handler": "dist/wrapper/handler.startAnalysis",
          "environment": {
            "STATE_MACHINE_ARN": {
              "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ms2-pipeline-dev"
            }
          },
          "events": [
            {
              "http": {
                "path": "analyze",
                "method": "post",
                "integration": "AWS_PROXY"
              }
            }
          ],
          "name": "ms2-analysis-service-dev-wrapperAdapter",
          "package": {},
          "memory": 512,
          "timeout": 6,
          "runtime": "nodejs20.x",
          "vpc": {},
          "versionLogicalId": "WrapperAdapterLambdaVersionb8t30mWRFgnycuhZyc3KUMbXfP4iyhSJGDu4tCgyrE"
        },
        "pullRepoToS3": {
          "handler": "dist/lambdas/pull-repo.handler",
          "timeout": 300,
          "memorySize": 2048,
          "environment": {
            "S3_BUCKET_NAME": {
              "Ref": "RepositoryBucket"
            }
          },
          "layers": [
            "arn:aws:lambda:eu-central-1:553035198032:layer:git-lambda2:8"
          ],
          "events": [],
          "name": "ms2-analysis-service-dev-pullRepoToS3",
          "package": {},
          "memory": 2048,
          "runtime": "nodejs20.x",
          "vpc": {},
          "versionLogicalId": "PullRepoToS3LambdaVersionAOAceQ3TjRi7Fyr3Lj2dL4FaBb9Q3cz2bkPevHeXSY"
        },
        "webhookSender": {
          "handler": "dist/lambdas/webhook.handler",
          "timeout": 15,
          "events": [],
          "name": "ms2-analysis-service-dev-webhookSender",
          "package": {},
          "memory": 512,
          "runtime": "nodejs20.x",
          "vpc": {},
          "versionLogicalId": "WebhookSenderLambdaVersionUi3UXvVmN4w36Cn2ZkLZ7ACLrek1z6tuS45wlHsg1Q"
        },
        "orchestrator": {
          "handler": "dist/lambdas/orchestrator.orchestratorHandler",
          "timeout": 300,
          "environment": {
            "LAMBDA_OWASP_NAME": "ms2-analysis-service-dev-owaspAgent",
            "LAMBDA_TEST_NAME": "ms2-analysis-service-dev-testAgent",
            "LAMBDA_DOCS_NAME": "ms2-analysis-service-dev-docsAgent"
          },
          "events": [],
          "name": "ms2-analysis-service-dev-orchestrator",
          "package": {},
          "memory": 512,
          "runtime": "nodejs20.x",
          "vpc": {},
          "versionLogicalId": "OrchestratorLambdaVersiondJoVQbQ3MvK2gIcTCLC2KgKFS1O6ACbnb7U0sNGo"
        },
        "owaspAgent": {
          "handler": "dist/lambdas/owasp-agent.owaspAgentHandler",
          "timeout": 300,
          "events": [],
          "name": "ms2-analysis-service-dev-owaspAgent",
          "package": {},
          "memory": 512,
          "runtime": "nodejs20.x",
          "vpc": {},
          "versionLogicalId": "OwaspAgentLambdaVersionO6bHhv7el3x9lvSxNipJ67bPJWyKROpDn4YpFZe64k"
        },
        "testAgent": {
          "handler": "dist/lambdas/test-agent.testAgentHandler",
          "timeout": 300,
          "events": [],
          "name": "ms2-analysis-service-dev-testAgent",
          "package": {},
          "memory": 512,
          "runtime": "nodejs20.x",
          "vpc": {},
          "versionLogicalId": "TestAgentLambdaVersionkFprWSc0I1qaTNgGziMQv1Pb5Y5bSrQHOghHcq3I"
        },
        "docsAgent": {
          "handler": "dist/lambdas/docs-agent.docAgentHandler",
          "timeout": 300,
          "events": [],
          "name": "ms2-analysis-service-dev-docsAgent",
          "package": {},
          "memory": 512,
          "runtime": "nodejs20.x",
          "vpc": {},
          "versionLogicalId": "DocsAgentLambdaVersionkbhDezBtT6cjByr0gUmx2KQXajFmSGD3ffJX0uWD80"
        }
      },
      "stepFunctions": {
        "stateMachines": {
          "RepoAnalysisStateMachine": {
            "name": "ms2-pipeline-dev",
            "definition": {
              "Comment": "Pipeline MS2: S3 Clone -> Orchestrator -> Webhook",
              "StartAt": "Initialize",
              "QueryLanguage": "JSONata",
              "States": {
                "Initialize": {
                  "Type": "Pass",
                  "Assign": {
                    "jobId": "{% $states.input.jobId %}",
                    "repoUrl": "{% $states.input.repoUrl %}",
                    "commitSha": "{% $states.input.commitSha %}",
                    "webhookUrl": "{% $states.input.webhookUrl %}",
                    "s3Prefix": "{% 'repos/' & $states.input.jobId & '/' & $states.input.commitSha %}"
                  },
                  "Next": "Pull Repo to S3"
                },
                "Pull Repo to S3": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Arguments": {
                    "FunctionName": "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-pullRepoToS3",
                    "Payload": {
                      "jobId": "{% $jobId %}",
                      "repoUrl": "{% $repoUrl %}",
                      "commitSha": "{% $commitSha %}",
                      "s3Prefix": "{% $s3Prefix %}"
                    }
                  },
                  "Assign": {
                    "s3Bucket": "{% $states.result.Payload.s3Bucket %}",
                    "s3Key": "{% $states.result.Payload.s3Key %}",
                    "repoMetadata": "{% $states.result.Payload.repoMetadata %}"
                  },
                  "Next": "Run Orchestrator"
                },
                "Run Orchestrator": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Arguments": {
                    "FunctionName": "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-orchestrator",
                    "Payload": {
                      "s3Bucket": "{% $s3Bucket %}",
                      "s3Key": "{% $s3Key %}",
                      "isRelease": "{% $count($repoMetadata.tags) > 0 or $repoMetadata.hasChangelog %}",
                      "orchestratorRaw": "{% 'Metadati Repo: ' & $string($repoMetadata) %}"
                    }
                  },
                  "Assign": {
                    "finalReport": "{% $states.result.Payload %}"
                  },
                  "Next": "Notify Webhook"
                },
                "Notify Webhook": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Arguments": {
                    "FunctionName": "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-webhookSender",
                    "Payload": {
                      "webhookUrl": "{% $webhookUrl %}",
                      "report": "{% $finalReport %}"
                    }
                  },
                  "Next": "Success"
                },
                "Success": {
                  "Type": "Succeed"
                }
              }
            }
          }
        }
      },
      "resources": {
        "Resources": {
          "RepositoryBucket": {
            "Type": "AWS::S3::Bucket",
            "Properties": {
              "BucketName": "ms2-analysis-repos-bucket-dev-503104739946",
              "LifecycleConfiguration": {
                "Rules": [
                  {
                    "Id": "AutoDeleteOldZips",
                    "Status": "Enabled",
                    "ExpirationInDays": 1
                  }
                ]
              }
            }
          }
        },
        "Outputs": {}
      }
    },
    "provider": {
      "name": "aws",
      "runtime": "nodejs20.x",
      "region": "eu-central-1",
      "memorySize": 512,
      "iamRoleStatements": [
        {
          "Effect": "Allow",
          "Action": [
            "s3:PutObject",
            "s3:GetObject"
          ],
          "Resource": [
            {
              "Fn::Join": [
                "",
                [
                  {
                    "Fn::GetAtt": [
                      "RepositoryBucket",
                      "Arn"
                    ]
                  },
                  "/*"
                ]
              ]
            }
          ]
        },
        {
          "Effect": "Allow",
          "Action": [
            "states:StartExecution"
          ],
          "Resource": [
            {
              "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ms2-pipeline-dev"
            }
          ]
        },
        {
          "Effect": "Allow",
          "Action": [
            "lambda:InvokeFunction"
          ],
          "Resource": "*"
        },
        {
          "Effect": "Allow",
          "Action": [
            "bedrock:InvokeModel"
          ],
          "Resource": "*"
        }
      ],
      "stage": "dev",
      "versionFunctions": true,
      "compiledCloudFormationTemplate": {
        "AWSTemplateFormatVersion": "2010-09-09",
        "Description": "The AWS CloudFormation template for this Serverless application",
        "Resources": {
          "WrapperAdapterLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-wrapperAdapter"
            }
          },
          "PullRepoToS3LogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-pullRepoToS3"
            }
          },
          "WebhookSenderLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-webhookSender"
            }
          },
          "OrchestratorLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-orchestrator"
            }
          },
          "OwaspAgentLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-owaspAgent"
            }
          },
          "TestAgentLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-testAgent"
            }
          },
          "DocsAgentLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-docsAgent"
            }
          },
          "IamRoleLambdaExecution": {
            "Type": "AWS::IAM::Role",
            "Properties": {
              "AssumeRolePolicyDocument": {
                "Version": "2012-10-17",
                "Statement": [
                  {
                    "Effect": "Allow",
                    "Principal": {
                      "Service": [
                        "lambda.amazonaws.com"
                      ]
                    },
                    "Action": [
                      "sts:AssumeRole"
                    ]
                  }
                ]
              },
              "Policies": [
                {
                  "PolicyName": {
                    "Fn::Join": [
                      "-",
                      [
                        "ms2-analysis-service",
                        "dev",
                        "lambda"
                      ]
                    ]
                  },
                  "PolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                      {
                        "Effect": "Allow",
                        "Action": [
                          "logs:CreateLogStream",
                          "logs:CreateLogGroup",
                          "logs:TagResource"
                        ],
                        "Resource": [
                          {
                            "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/ms2-analysis-service-dev*:*"
                          }
                        ]
                      },
                      {
                        "Effect": "Allow",
                        "Action": [
                          "logs:PutLogEvents"
                        ],
                        "Resource": [
                          {
                            "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/ms2-analysis-service-dev*:*:*"
                          }
                        ]
                      },
                      {
                        "Effect": "Allow",
                        "Action": [
                          "s3:PutObject",
                          "s3:GetObject"
                        ],
                        "Resource": [
                          {
                            "Fn::Join": [
                              "",
                              [
                                {
                                  "Fn::GetAtt": [
                                    "RepositoryBucket",
                                    "Arn"
                                  ]
                                },
                                "/*"
                              ]
                            ]
                          }
                        ]
                      },
                      {
                        "Effect": "Allow",
                        "Action": [
                          "states:StartExecution"
                        ],
                        "Resource": [
                          {
                            "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ms2-pipeline-dev"
                          }
                        ]
                      },
                      {
                        "Effect": "Allow",
                        "Action": [
                          "lambda:InvokeFunction"
                        ],
                        "Resource": "*"
                      },
                      {
                        "Effect": "Allow",
                        "Action": [
                          "bedrock:InvokeModel"
                        ],
                        "Resource": "*"
                      }
                    ]
                  }
                }
              ],
              "Path": "/",
              "RoleName": {
                "Fn::Join": [
                  "-",
                  [
                    "ms2-analysis-service",
                    "dev",
                    {
                      "Ref": "AWS::Region"
                    },
                    "lambdaRole"
                  ]
                ]
              }
            }
          },
          "WrapperAdapterLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
              },
              "Handler": "dist/wrapper/handler.startAnalysis",
              "Runtime": "nodejs20.x",
              "FunctionName": "ms2-analysis-service-dev-wrapperAdapter",
              "MemorySize": 512,
              "Timeout": 6,
              "Environment": {
                "Variables": {
                  "STATE_MACHINE_ARN": {
                    "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ms2-pipeline-dev"
                  }
                }
              },
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              }
            },
            "DependsOn": [
              "WrapperAdapterLogGroup"
            ]
          },
          "PullRepoToS3LambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
              },
              "Handler": "dist/lambdas/pull-repo.handler",
              "Runtime": "nodejs20.x",
              "FunctionName": "ms2-analysis-service-dev-pullRepoToS3",
              "MemorySize": 2048,
              "Timeout": 300,
              "Environment": {
                "Variables": {
                  "S3_BUCKET_NAME": {
                    "Ref": "RepositoryBucket"
                  }
                }
              },
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              },
              "Layers": [
                "arn:aws:lambda:eu-central-1:553035198032:layer:git-lambda2:8"
              ]
            },
            "DependsOn": [
              "PullRepoToS3LogGroup"
            ]
          },
          "WebhookSenderLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
              },
              "Handler": "dist/lambdas/webhook.handler",
              "Runtime": "nodejs20.x",
              "FunctionName": "ms2-analysis-service-dev-webhookSender",
              "MemorySize": 512,
              "Timeout": 15,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              }
            },
            "DependsOn": [
              "WebhookSenderLogGroup"
            ]
          },
          "OrchestratorLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
              },
              "Handler": "dist/lambdas/orchestrator.orchestratorHandler",
              "Runtime": "nodejs20.x",
              "FunctionName": "ms2-analysis-service-dev-orchestrator",
              "MemorySize": 512,
              "Timeout": 300,
              "Environment": {
                "Variables": {
                  "LAMBDA_OWASP_NAME": "ms2-analysis-service-dev-owaspAgent",
                  "LAMBDA_TEST_NAME": "ms2-analysis-service-dev-testAgent",
                  "LAMBDA_DOCS_NAME": "ms2-analysis-service-dev-docsAgent"
                }
              },
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              }
            },
            "DependsOn": [
              "OrchestratorLogGroup"
            ]
          },
          "OwaspAgentLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
              },
              "Handler": "dist/lambdas/owasp-agent.owaspAgentHandler",
              "Runtime": "nodejs20.x",
              "FunctionName": "ms2-analysis-service-dev-owaspAgent",
              "MemorySize": 512,
              "Timeout": 300,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              }
            },
            "DependsOn": [
              "OwaspAgentLogGroup"
            ]
          },
          "TestAgentLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
              },
              "Handler": "dist/lambdas/test-agent.testAgentHandler",
              "Runtime": "nodejs20.x",
              "FunctionName": "ms2-analysis-service-dev-testAgent",
              "MemorySize": 512,
              "Timeout": 300,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              }
            },
            "DependsOn": [
              "TestAgentLogGroup"
            ]
          },
          "DocsAgentLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
                "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
              },
              "Handler": "dist/lambdas/docs-agent.docAgentHandler",
              "Runtime": "nodejs20.x",
              "FunctionName": "ms2-analysis-service-dev-docsAgent",
              "MemorySize": 512,
              "Timeout": 300,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              }
            },
            "DependsOn": [
              "DocsAgentLogGroup"
            ]
          },
          "WrapperAdapterLambdaVersionb8t30mWRFgnycuhZyc3KUMbXfP4iyhSJGDu4tCgyrE": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "WrapperAdapterLambdaFunction"
              },
              "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
            }
          },
          "PullRepoToS3LambdaVersionAOAceQ3TjRi7Fyr3Lj2dL4FaBb9Q3cz2bkPevHeXSY": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "PullRepoToS3LambdaFunction"
              },
              "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
            }
          },
          "WebhookSenderLambdaVersionUi3UXvVmN4w36Cn2ZkLZ7ACLrek1z6tuS45wlHsg1Q": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "WebhookSenderLambdaFunction"
              },
              "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
            }
          },
          "OrchestratorLambdaVersiondJoVQbQ3MvK2gIcTCLC2KgKFS1O6ACbnb7U0sNGo": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "OrchestratorLambdaFunction"
              },
              "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
            }
          },
          "OwaspAgentLambdaVersionO6bHhv7el3x9lvSxNipJ67bPJWyKROpDn4YpFZe64k": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "OwaspAgentLambdaFunction"
              },
              "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
            }
          },
          "TestAgentLambdaVersionkFprWSc0I1qaTNgGziMQv1Pb5Y5bSrQHOghHcq3I": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "TestAgentLambdaFunction"
              },
              "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
            }
          },
          "DocsAgentLambdaVersionkbhDezBtT6cjByr0gUmx2KQXajFmSGD3ffJX0uWD80": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "DocsAgentLambdaFunction"
              },
              "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
            }
          },
          "Ms2DashpipelineDashdevRole": {
            "Type": "AWS::IAM::Role",
            "Properties": {
              "AssumeRolePolicyDocument": {
                "Version": "2012-10-17",
                "Statement": [
                  {
                    "Effect": "Allow",
                    "Principal": {
                      "Service": {
                        "Fn::Sub": "states.${AWS::Region}.amazonaws.com"
                      }
                    },
                    "Action": "sts:AssumeRole"
                  }
                ]
              },
              "Policies": [
                {
                  "PolicyName": "dev-ms2-analysis-service-statemachine",
                  "PolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                      {
                        "Effect": "Allow",
                        "Action": [
                          "lambda:InvokeFunction"
                        ],
                        "Resource": [
                          "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-pullRepoToS3",
                          "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-pullRepoToS3:*",
                          "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-orchestrator",
                          "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-orchestrator:*",
                          "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-webhookSender",
                          "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-webhookSender:*"
                        ]
                      }
                    ]
                  }
                }
              ]
            }
          },
          "Ms2DashpipelineDashdev": {
            "Type": "AWS::StepFunctions::StateMachine",
            "Properties": {
              "DefinitionString": "{\n  \"Comment\": \"Pipeline MS2: S3 Clone -> Orchestrator -> Webhook\",\n  \"StartAt\": \"Initialize\",\n  \"QueryLanguage\": \"JSONata\",\n  \"States\": {\n    \"Initialize\": {\n      \"Type\": \"Pass\",\n      \"Assign\": {\n        \"jobId\": \"{% $states.input.jobId %}\",\n        \"repoUrl\": \"{% $states.input.repoUrl %}\",\n        \"commitSha\": \"{% $states.input.commitSha %}\",\n        \"webhookUrl\": \"{% $states.input.webhookUrl %}\",\n        \"s3Prefix\": \"{% 'repos/' & $states.input.jobId & '/' & $states.input.commitSha %}\"\n      },\n      \"Next\": \"Pull Repo to S3\"\n    },\n    \"Pull Repo to S3\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Arguments\": {\n        \"FunctionName\": \"arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-pullRepoToS3\",\n        \"Payload\": {\n          \"jobId\": \"{% $jobId %}\",\n          \"repoUrl\": \"{% $repoUrl %}\",\n          \"commitSha\": \"{% $commitSha %}\",\n          \"s3Prefix\": \"{% $s3Prefix %}\"\n        }\n      },\n      \"Assign\": {\n        \"s3Bucket\": \"{% $states.result.Payload.s3Bucket %}\",\n        \"s3Key\": \"{% $states.result.Payload.s3Key %}\",\n        \"repoMetadata\": \"{% $states.result.Payload.repoMetadata %}\"\n      },\n      \"Next\": \"Run Orchestrator\"\n    },\n    \"Run Orchestrator\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Arguments\": {\n        \"FunctionName\": \"arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-orchestrator\",\n        \"Payload\": {\n          \"s3Bucket\": \"{% $s3Bucket %}\",\n          \"s3Key\": \"{% $s3Key %}\",\n          \"isRelease\": \"{% $count($repoMetadata.tags) > 0 or $repoMetadata.hasChangelog %}\",\n          \"orchestratorRaw\": \"{% 'Metadati Repo: ' & $string($repoMetadata) %}\"\n        }\n      },\n      \"Assign\": {\n        \"finalReport\": \"{% $states.result.Payload %}\"\n      },\n      \"Next\": \"Notify Webhook\"\n    },\n    \"Notify Webhook\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Arguments\": {\n        \"FunctionName\": \"arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-webhookSender\",\n        \"Payload\": {\n          \"webhookUrl\": \"{% $webhookUrl %}\",\n          \"report\": \"{% $finalReport %}\"\n        }\n      },\n      \"Next\": \"Success\"\n    },\n    \"Success\": {\n      \"Type\": \"Succeed\"\n    }\n  }\n}",
              "RoleArn": {
                "Fn::GetAtt": [
                  "Ms2DashpipelineDashdevRole",
                  "Arn"
                ]
              },
              "StateMachineName": "ms2-pipeline-dev"
            },
            "DependsOn": [
              "Ms2DashpipelineDashdevRole"
            ]
          },
          "ApiGatewayRestApi": {
            "Type": "AWS::ApiGateway::RestApi",
            "Properties": {
              "Name": "dev-ms2-analysis-service",
              "EndpointConfiguration": {
                "Types": [
                  "EDGE"
                ]
              },
              "Policy": ""
            }
          },
          "ApiGatewayResourceAnalyze": {
            "Type": "AWS::ApiGateway::Resource",
            "Properties": {
              "ParentId": {
                "Fn::GetAtt": [
                  "ApiGatewayRestApi",
                  "RootResourceId"
                ]
              },
              "PathPart": "analyze",
              "RestApiId": {
                "Ref": "ApiGatewayRestApi"
              }
            }
          },
          "ApiGatewayMethodAnalyzePost": {
            "Type": "AWS::ApiGateway::Method",
            "Properties": {
              "HttpMethod": "POST",
              "RequestParameters": {},
              "ResourceId": {
                "Ref": "ApiGatewayResourceAnalyze"
              },
              "RestApiId": {
                "Ref": "ApiGatewayRestApi"
              },
              "ApiKeyRequired": "<REDACTED>",
              "AuthorizationType": "NONE",
              "Integration": {
                "IntegrationHttpMethod": "POST",
                "Type": "AWS_PROXY",
                "Uri": {
                  "Fn::Join": [
                    "",
                    [
                      "arn:",
                      {
                        "Ref": "AWS::Partition"
                      },
                      ":apigateway:",
                      {
                        "Ref": "AWS::Region"
                      },
                      ":lambda:path/2015-03-31/functions/",
                      {
                        "Fn::GetAtt": [
                          "WrapperAdapterLambdaFunction",
                          "Arn"
                        ]
                      },
                      "/invocations"
                    ]
                  ]
                }
              },
              "MethodResponses": []
            },
            "DependsOn": [
              "WrapperAdapterLambdaPermissionApiGateway"
            ]
          },
          "ApiGatewayDeployment1774720925298": {
            "Type": "AWS::ApiGateway::Deployment",
            "Properties": {
              "RestApiId": {
                "Ref": "ApiGatewayRestApi"
              },
              "StageName": "dev"
            },
            "DependsOn": [
              "ApiGatewayMethodAnalyzePost"
            ]
          },
          "WrapperAdapterLambdaPermissionApiGateway": {
            "Type": "AWS::Lambda::Permission",
            "Properties": {
              "FunctionName": {
                "Fn::GetAtt": [
                  "WrapperAdapterLambdaFunction",
                  "Arn"
                ]
              },
              "Action": "lambda:InvokeFunction",
              "Principal": "apigateway.amazonaws.com",
              "SourceArn": {
                "Fn::Join": [
                  "",
                  [
                    "arn:",
                    {
                      "Ref": "AWS::Partition"
                    },
                    ":execute-api:",
                    {
                      "Ref": "AWS::Region"
                    },
                    ":",
                    {
                      "Ref": "AWS::AccountId"
                    },
                    ":",
                    {
                      "Ref": "ApiGatewayRestApi"
                    },
                    "/*/*"
                  ]
                ]
              }
            }
          },
          "RepositoryBucket": {
            "Type": "AWS::S3::Bucket",
            "Properties": {
              "BucketName": "ms2-analysis-repos-bucket-dev-503104739946",
              "LifecycleConfiguration": {
                "Rules": [
                  {
                    "Id": "AutoDeleteOldZips",
                    "Status": "Enabled",
                    "ExpirationInDays": 1
                  }
                ]
              }
            }
          }
        },
        "Outputs": {
          "ServerlessDeploymentBucketName": {
            "Value": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
            "Export": {
              "Name": "sls-ms2-analysis-service-dev-ServerlessDeploymentBucketName"
            }
          },
          "WrapperAdapterLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "WrapperAdapterLambdaVersionb8t30mWRFgnycuhZyc3KUMbXfP4iyhSJGDu4tCgyrE"
            },
            "Export": {
              "Name": "sls-ms2-analysis-service-dev-WrapperAdapterLambdaFunctionQualifiedArn"
            }
          },
          "PullRepoToS3LambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "PullRepoToS3LambdaVersionAOAceQ3TjRi7Fyr3Lj2dL4FaBb9Q3cz2bkPevHeXSY"
            },
            "Export": {
              "Name": "sls-ms2-analysis-service-dev-PullRepoToS3LambdaFunctionQualifiedArn"
            }
          },
          "WebhookSenderLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "WebhookSenderLambdaVersionUi3UXvVmN4w36Cn2ZkLZ7ACLrek1z6tuS45wlHsg1Q"
            },
            "Export": {
              "Name": "sls-ms2-analysis-service-dev-WebhookSenderLambdaFunctionQualifiedArn"
            }
          },
          "OrchestratorLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "OrchestratorLambdaVersiondJoVQbQ3MvK2gIcTCLC2KgKFS1O6ACbnb7U0sNGo"
            },
            "Export": {
              "Name": "sls-ms2-analysis-service-dev-OrchestratorLambdaFunctionQualifiedArn"
            }
          },
          "OwaspAgentLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "OwaspAgentLambdaVersionO6bHhv7el3x9lvSxNipJ67bPJWyKROpDn4YpFZe64k"
            },
            "Export": {
              "Name": "sls-ms2-analysis-service-dev-OwaspAgentLambdaFunctionQualifiedArn"
            }
          },
          "TestAgentLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "TestAgentLambdaVersionkFprWSc0I1qaTNgGziMQv1Pb5Y5bSrQHOghHcq3I"
            },
            "Export": {
              "Name": "sls-ms2-analysis-service-dev-TestAgentLambdaFunctionQualifiedArn"
            }
          },
          "DocsAgentLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "DocsAgentLambdaVersionkbhDezBtT6cjByr0gUmx2KQXajFmSGD3ffJX0uWD80"
            },
            "Export": {
              "Name": "sls-ms2-analysis-service-dev-DocsAgentLambdaFunctionQualifiedArn"
            }
          },
          "Ms2DashpipelineDashdevArn": {
            "Description": "Current StateMachine Arn",
            "Value": {
              "Ref": "Ms2DashpipelineDashdev"
            },
            "Export": {
              "Name": "sls-ms2-analysis-service-dev-Ms2DashpipelineDashdevArn"
            }
          },
          "ServiceEndpoint": {
            "Description": "URL of the service endpoint",
            "Value": {
              "Fn::Join": [
                "",
                [
                  "https://",
                  {
                    "Ref": "ApiGatewayRestApi"
                  },
                  ".execute-api.",
                  {
                    "Ref": "AWS::Region"
                  },
                  ".",
                  {
                    "Ref": "AWS::URLSuffix"
                  },
                  "/dev"
                ]
              ]
            },
            "Export": {
              "Name": "sls-ms2-analysis-service-dev-ServiceEndpoint"
            }
          }
        }
      },
      "vpc": {}
    },
    "dashboard": {
      "isEnabledForService": false,
      "requiredAuthentication": false,
      "orgFeaturesInUse": null,
      "orgObservabilityIntegrations": null,
      "serviceAppId": null,
      "serviceProvider": null,
      "instanceParameters": null
    },
    "serviceRawFile": "service: ms2-analysis-service\n\nprovider:\n  name: aws\n  runtime: nodejs20.x\n  region: eu-central-1\n  memorySize: 512\n  iamRoleStatements:\n    # Permesso per scrivere e leggere su S3 (per la Lambda pullRepo)\n    - Effect: Allow\n      Action:\n        - s3:PutObject\n        - s3:GetObject\n      Resource:\n        - !Join ['', [!GetAtt RepositoryBucket.Arn, '/*']]\n    # Permesso per il Wrapper NestJS di avviare la Step Function\n    - Effect: Allow\n      Action:\n        - states:StartExecution\n      Resource:\n        - !Sub \"arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ms2-pipeline-${sls:stage}\"\n    # Permesso all'Orchestratore di chiamare gli Agenti AI\n    - Effect: Allow\n      Action:\n        - lambda:InvokeFunction\n      Resource: \"*\"\n    # Permesso a tutte le lambda di interrogare l'intelligenza artificiale\n    - Effect: Allow\n      Action:\n        - bedrock:InvokeModel\n      Resource: \"*\"\n\npackage:\n  individually: false\n  patterns:\n    - '!src/**'\n    - '!test/**'\n    - '!.github/**'\n    - 'dist/**'\n    - 'node_modules/**'\n\nbuild:\n  esbuild: false\n\nplugins:\n  - serverless-step-functions\n  - serverless-offline\n\nfunctions:\n  wrapperAdapter:\n    handler: dist/wrapper/handler.startAnalysis\n    environment:\n      # Passiamo l'ARN dinamico della Step Function al codice NestJS\n      STATE_MACHINE_ARN: !Sub \"arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ms2-pipeline-${sls:stage}\"\n    events:\n      - http:\n          path: /analyze\n          method: post\n\n  pullRepoToS3:\n    handler: dist/lambdas/pull-repo.handler\n    timeout: 300\n    memorySize: 2048\n    environment:\n      S3_BUCKET_NAME: !Ref RepositoryBucket\n    layers:\n      - arn:aws:lambda:eu-central-1:553035198032:layer:git-lambda2:8\n  \n  webhookSender:\n    handler: dist/lambdas/webhook.handler\n    timeout: 15\n  \n  orchestrator:\n    handler: dist/lambdas/orchestrator.orchestratorHandler\n    timeout: 300\n    environment:\n      LAMBDA_OWASP_NAME: ms2-analysis-service-${sls:stage}-owaspAgent\n      LAMBDA_TEST_NAME: ms2-analysis-service-${sls:stage}-testAgent\n      LAMBDA_DOCS_NAME: ms2-analysis-service-${sls:stage}-docsAgent\n\n  owaspAgent:\n    handler: dist/lambdas/owasp-agent.owaspAgentHandler\n    timeout: 300\n\n  testAgent:\n    handler: dist/lambdas/test-agent.testAgentHandler\n    timeout: 300\n\n  docsAgent:\n    handler: dist/lambdas/docs-agent.docAgentHandler\n    timeout: 300\n\n# Definizione della Step Function\nstepFunctions:\n  stateMachines:\n    RepoAnalysisStateMachine:\n      name: ms2-pipeline-${sls:stage}\n      definition: ${file(state-machine.json)} \n\n# Creazione del Bucket S3\nresources:\n  Resources:\n    RepositoryBucket:\n      Type: AWS::S3::Bucket\n      Properties:\n        BucketName: ms2-analysis-repos-bucket-${sls:stage}-${aws:accountId}\n        LifecycleConfiguration:\n          Rules:\n            - Id: AutoDeleteOldZips\n              Status: Enabled\n              ExpirationInDays: 1",
    "command": [
      "deploy"
    ],
    "options": {},
    "orgId": "ec819ccf-ca00-4f0d-b22a-02ea459dd4cc",
    "orgName": "albelabs",
    "userId": "Qt6Bk5gyfzymwSZ57b",
    "userName": "albelabs",
    "serviceProviderAwsAccountId": "503104739946",
    "serviceProviderAwsCfStackName": "ms2-analysis-service-dev",
    "serviceProviderAwsCfStackId": "arn:aws:cloudformation:eu-central-1:503104739946:stack/ms2-analysis-service-dev/408ebde0-2ac0-11f1-bca2-0a09e05a80d1",
    "serviceProviderAwsCfStackCreated": "2026-03-28T16:07:43.427Z",
    "serviceProviderAwsCfStackUpdated": "2026-03-28T17:35:35.348Z",
    "serviceProviderAwsCfStackStatus": "UPDATE_COMPLETE",
    "serviceProviderAwsCfStackOutputs": [
      {
        "OutputKey": "OwaspAgentLambdaFunctionQualifiedArn",
        "OutputValue": "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-owaspAgent:4",
        "Description": "Current Lambda function version",
        "ExportName": "sls-ms2-analysis-service-dev-OwaspAgentLambdaFunctionQualifiedArn"
      },
      {
        "OutputKey": "Ms2DashpipelineDashdevArn",
        "OutputValue": "arn:aws:states:eu-central-1:503104739946:stateMachine:ms2-pipeline-dev",
        "Description": "Current StateMachine Arn",
        "ExportName": "sls-ms2-analysis-service-dev-Ms2DashpipelineDashdevArn"
      },
      {
        "OutputKey": "PullRepoToS3LambdaFunctionQualifiedArn",
        "OutputValue": "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-pullRepoToS3:10",
        "Description": "Current Lambda function version",
        "ExportName": "sls-ms2-analysis-service-dev-PullRepoToS3LambdaFunctionQualifiedArn"
      },
      {
        "OutputKey": "TestAgentLambdaFunctionQualifiedArn",
        "OutputValue": "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-testAgent:4",
        "Description": "Current Lambda function version",
        "ExportName": "sls-ms2-analysis-service-dev-TestAgentLambdaFunctionQualifiedArn"
      },
      {
        "OutputKey": "DocsAgentLambdaFunctionQualifiedArn",
        "OutputValue": "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-docsAgent:4",
        "Description": "Current Lambda function version",
        "ExportName": "sls-ms2-analysis-service-dev-DocsAgentLambdaFunctionQualifiedArn"
      },
      {
        "OutputKey": "OrchestratorLambdaFunctionQualifiedArn",
        "OutputValue": "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-orchestrator:10",
        "Description": "Current Lambda function version",
        "ExportName": "sls-ms2-analysis-service-dev-OrchestratorLambdaFunctionQualifiedArn"
      },
      {
        "OutputKey": "WrapperAdapterLambdaFunctionQualifiedArn",
        "OutputValue": "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-wrapperAdapter:10",
        "Description": "Current Lambda function version",
        "ExportName": "sls-ms2-analysis-service-dev-WrapperAdapterLambdaFunctionQualifiedArn"
      },
      {
        "OutputKey": "WebhookSenderLambdaFunctionQualifiedArn",
        "OutputValue": "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-webhookSender:10",
        "Description": "Current Lambda function version",
        "ExportName": "sls-ms2-analysis-service-dev-WebhookSenderLambdaFunctionQualifiedArn"
      },
      {
        "OutputKey": "ServiceEndpoint",
        "OutputValue": "https://bs4ib3v7w3.execute-api.eu-central-1.amazonaws.com/dev",
        "Description": "URL of the service endpoint",
        "ExportName": "sls-ms2-analysis-service-dev-ServiceEndpoint"
      },
      {
        "OutputKey": "ServerlessDeploymentBucketName",
        "OutputValue": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
        "ExportName": "sls-ms2-analysis-service-dev-ServerlessDeploymentBucketName"
      }
    ],
    "compiledCloudFormationTemplate": {
      "AWSTemplateFormatVersion": "2010-09-09",
      "Description": "The AWS CloudFormation template for this Serverless application",
      "Resources": {
        "WrapperAdapterLogGroup": {
          "Type": "AWS::Logs::LogGroup",
          "Properties": {
            "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-wrapperAdapter"
          }
        },
        "PullRepoToS3LogGroup": {
          "Type": "AWS::Logs::LogGroup",
          "Properties": {
            "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-pullRepoToS3"
          }
        },
        "WebhookSenderLogGroup": {
          "Type": "AWS::Logs::LogGroup",
          "Properties": {
            "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-webhookSender"
          }
        },
        "OrchestratorLogGroup": {
          "Type": "AWS::Logs::LogGroup",
          "Properties": {
            "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-orchestrator"
          }
        },
        "OwaspAgentLogGroup": {
          "Type": "AWS::Logs::LogGroup",
          "Properties": {
            "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-owaspAgent"
          }
        },
        "TestAgentLogGroup": {
          "Type": "AWS::Logs::LogGroup",
          "Properties": {
            "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-testAgent"
          }
        },
        "DocsAgentLogGroup": {
          "Type": "AWS::Logs::LogGroup",
          "Properties": {
            "LogGroupName": "/aws/lambda/ms2-analysis-service-dev-docsAgent"
          }
        },
        "IamRoleLambdaExecution": {
          "Type": "AWS::IAM::Role",
          "Properties": {
            "AssumeRolePolicyDocument": {
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Effect": "Allow",
                  "Principal": {
                    "Service": [
                      "lambda.amazonaws.com"
                    ]
                  },
                  "Action": [
                    "sts:AssumeRole"
                  ]
                }
              ]
            },
            "Policies": [
              {
                "PolicyName": {
                  "Fn::Join": [
                    "-",
                    [
                      "ms2-analysis-service",
                      "dev",
                      "lambda"
                    ]
                  ]
                },
                "PolicyDocument": {
                  "Version": "2012-10-17",
                  "Statement": [
                    {
                      "Effect": "Allow",
                      "Action": [
                        "logs:CreateLogStream",
                        "logs:CreateLogGroup",
                        "logs:TagResource"
                      ],
                      "Resource": [
                        {
                          "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/ms2-analysis-service-dev*:*"
                        }
                      ]
                    },
                    {
                      "Effect": "Allow",
                      "Action": [
                        "logs:PutLogEvents"
                      ],
                      "Resource": [
                        {
                          "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/ms2-analysis-service-dev*:*:*"
                        }
                      ]
                    },
                    {
                      "Effect": "Allow",
                      "Action": [
                        "s3:PutObject",
                        "s3:GetObject"
                      ],
                      "Resource": [
                        {
                          "Fn::Join": [
                            "",
                            [
                              {
                                "Fn::GetAtt": [
                                  "RepositoryBucket",
                                  "Arn"
                                ]
                              },
                              "/*"
                            ]
                          ]
                        }
                      ]
                    },
                    {
                      "Effect": "Allow",
                      "Action": [
                        "states:StartExecution"
                      ],
                      "Resource": [
                        {
                          "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ms2-pipeline-dev"
                        }
                      ]
                    },
                    {
                      "Effect": "Allow",
                      "Action": [
                        "lambda:InvokeFunction"
                      ],
                      "Resource": "*"
                    },
                    {
                      "Effect": "Allow",
                      "Action": [
                        "bedrock:InvokeModel"
                      ],
                      "Resource": "*"
                    }
                  ]
                }
              }
            ],
            "Path": "/",
            "RoleName": {
              "Fn::Join": [
                "-",
                [
                  "ms2-analysis-service",
                  "dev",
                  {
                    "Ref": "AWS::Region"
                  },
                  "lambdaRole"
                ]
              ]
            }
          }
        },
        "WrapperAdapterLambdaFunction": {
          "Type": "AWS::Lambda::Function",
          "Properties": {
            "Code": {
              "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
              "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
            },
            "Handler": "dist/wrapper/handler.startAnalysis",
            "Runtime": "nodejs20.x",
            "FunctionName": "ms2-analysis-service-dev-wrapperAdapter",
            "MemorySize": 512,
            "Timeout": 6,
            "Environment": {
              "Variables": {
                "STATE_MACHINE_ARN": {
                  "Fn::Sub": "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:ms2-pipeline-dev"
                }
              }
            },
            "Role": {
              "Fn::GetAtt": [
                "IamRoleLambdaExecution",
                "Arn"
              ]
            }
          },
          "DependsOn": [
            "WrapperAdapterLogGroup"
          ]
        },
        "PullRepoToS3LambdaFunction": {
          "Type": "AWS::Lambda::Function",
          "Properties": {
            "Code": {
              "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
              "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
            },
            "Handler": "dist/lambdas/pull-repo.handler",
            "Runtime": "nodejs20.x",
            "FunctionName": "ms2-analysis-service-dev-pullRepoToS3",
            "MemorySize": 2048,
            "Timeout": 300,
            "Environment": {
              "Variables": {
                "S3_BUCKET_NAME": {
                  "Ref": "RepositoryBucket"
                }
              }
            },
            "Role": {
              "Fn::GetAtt": [
                "IamRoleLambdaExecution",
                "Arn"
              ]
            },
            "Layers": [
              "arn:aws:lambda:eu-central-1:553035198032:layer:git-lambda2:8"
            ]
          },
          "DependsOn": [
            "PullRepoToS3LogGroup"
          ]
        },
        "WebhookSenderLambdaFunction": {
          "Type": "AWS::Lambda::Function",
          "Properties": {
            "Code": {
              "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
              "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
            },
            "Handler": "dist/lambdas/webhook.handler",
            "Runtime": "nodejs20.x",
            "FunctionName": "ms2-analysis-service-dev-webhookSender",
            "MemorySize": 512,
            "Timeout": 15,
            "Role": {
              "Fn::GetAtt": [
                "IamRoleLambdaExecution",
                "Arn"
              ]
            }
          },
          "DependsOn": [
            "WebhookSenderLogGroup"
          ]
        },
        "OrchestratorLambdaFunction": {
          "Type": "AWS::Lambda::Function",
          "Properties": {
            "Code": {
              "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
              "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
            },
            "Handler": "dist/lambdas/orchestrator.orchestratorHandler",
            "Runtime": "nodejs20.x",
            "FunctionName": "ms2-analysis-service-dev-orchestrator",
            "MemorySize": 512,
            "Timeout": 300,
            "Environment": {
              "Variables": {
                "LAMBDA_OWASP_NAME": "ms2-analysis-service-dev-owaspAgent",
                "LAMBDA_TEST_NAME": "ms2-analysis-service-dev-testAgent",
                "LAMBDA_DOCS_NAME": "ms2-analysis-service-dev-docsAgent"
              }
            },
            "Role": {
              "Fn::GetAtt": [
                "IamRoleLambdaExecution",
                "Arn"
              ]
            }
          },
          "DependsOn": [
            "OrchestratorLogGroup"
          ]
        },
        "OwaspAgentLambdaFunction": {
          "Type": "AWS::Lambda::Function",
          "Properties": {
            "Code": {
              "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
              "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
            },
            "Handler": "dist/lambdas/owasp-agent.owaspAgentHandler",
            "Runtime": "nodejs20.x",
            "FunctionName": "ms2-analysis-service-dev-owaspAgent",
            "MemorySize": 512,
            "Timeout": 300,
            "Role": {
              "Fn::GetAtt": [
                "IamRoleLambdaExecution",
                "Arn"
              ]
            }
          },
          "DependsOn": [
            "OwaspAgentLogGroup"
          ]
        },
        "TestAgentLambdaFunction": {
          "Type": "AWS::Lambda::Function",
          "Properties": {
            "Code": {
              "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
              "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
            },
            "Handler": "dist/lambdas/test-agent.testAgentHandler",
            "Runtime": "nodejs20.x",
            "FunctionName": "ms2-analysis-service-dev-testAgent",
            "MemorySize": 512,
            "Timeout": 300,
            "Role": {
              "Fn::GetAtt": [
                "IamRoleLambdaExecution",
                "Arn"
              ]
            }
          },
          "DependsOn": [
            "TestAgentLogGroup"
          ]
        },
        "DocsAgentLambdaFunction": {
          "Type": "AWS::Lambda::Function",
          "Properties": {
            "Code": {
              "S3Bucket": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
              "S3Key": "serverless/ms2-analysis-service/dev/1774720955670-2026-03-28T18:02:35.670Z/ms2-analysis-service.zip"
            },
            "Handler": "dist/lambdas/docs-agent.docAgentHandler",
            "Runtime": "nodejs20.x",
            "FunctionName": "ms2-analysis-service-dev-docsAgent",
            "MemorySize": 512,
            "Timeout": 300,
            "Role": {
              "Fn::GetAtt": [
                "IamRoleLambdaExecution",
                "Arn"
              ]
            }
          },
          "DependsOn": [
            "DocsAgentLogGroup"
          ]
        },
        "WrapperAdapterLambdaVersionb8t30mWRFgnycuhZyc3KUMbXfP4iyhSJGDu4tCgyrE": {
          "Type": "AWS::Lambda::Version",
          "DeletionPolicy": "Retain",
          "Properties": {
            "FunctionName": {
              "Ref": "WrapperAdapterLambdaFunction"
            },
            "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
          }
        },
        "PullRepoToS3LambdaVersionAOAceQ3TjRi7Fyr3Lj2dL4FaBb9Q3cz2bkPevHeXSY": {
          "Type": "AWS::Lambda::Version",
          "DeletionPolicy": "Retain",
          "Properties": {
            "FunctionName": {
              "Ref": "PullRepoToS3LambdaFunction"
            },
            "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
          }
        },
        "WebhookSenderLambdaVersionUi3UXvVmN4w36Cn2ZkLZ7ACLrek1z6tuS45wlHsg1Q": {
          "Type": "AWS::Lambda::Version",
          "DeletionPolicy": "Retain",
          "Properties": {
            "FunctionName": {
              "Ref": "WebhookSenderLambdaFunction"
            },
            "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
          }
        },
        "OrchestratorLambdaVersiondJoVQbQ3MvK2gIcTCLC2KgKFS1O6ACbnb7U0sNGo": {
          "Type": "AWS::Lambda::Version",
          "DeletionPolicy": "Retain",
          "Properties": {
            "FunctionName": {
              "Ref": "OrchestratorLambdaFunction"
            },
            "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
          }
        },
        "OwaspAgentLambdaVersionO6bHhv7el3x9lvSxNipJ67bPJWyKROpDn4YpFZe64k": {
          "Type": "AWS::Lambda::Version",
          "DeletionPolicy": "Retain",
          "Properties": {
            "FunctionName": {
              "Ref": "OwaspAgentLambdaFunction"
            },
            "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
          }
        },
        "TestAgentLambdaVersionkFprWSc0I1qaTNgGziMQv1Pb5Y5bSrQHOghHcq3I": {
          "Type": "AWS::Lambda::Version",
          "DeletionPolicy": "Retain",
          "Properties": {
            "FunctionName": {
              "Ref": "TestAgentLambdaFunction"
            },
            "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
          }
        },
        "DocsAgentLambdaVersionkbhDezBtT6cjByr0gUmx2KQXajFmSGD3ffJX0uWD80": {
          "Type": "AWS::Lambda::Version",
          "DeletionPolicy": "Retain",
          "Properties": {
            "FunctionName": {
              "Ref": "DocsAgentLambdaFunction"
            },
            "CodeSha256": "qNENvOHiiUteKsSSLnxJJazpAJphmol+nmnPEJeY3Us="
          }
        },
        "Ms2DashpipelineDashdevRole": {
          "Type": "AWS::IAM::Role",
          "Properties": {
            "AssumeRolePolicyDocument": {
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Effect": "Allow",
                  "Principal": {
                    "Service": {
                      "Fn::Sub": "states.${AWS::Region}.amazonaws.com"
                    }
                  },
                  "Action": "sts:AssumeRole"
                }
              ]
            },
            "Policies": [
              {
                "PolicyName": "dev-ms2-analysis-service-statemachine",
                "PolicyDocument": {
                  "Version": "2012-10-17",
                  "Statement": [
                    {
                      "Effect": "Allow",
                      "Action": [
                        "lambda:InvokeFunction"
                      ],
                      "Resource": [
                        "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-pullRepoToS3",
                        "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-pullRepoToS3:*",
                        "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-orchestrator",
                        "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-orchestrator:*",
                        "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-webhookSender",
                        "arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-webhookSender:*"
                      ]
                    }
                  ]
                }
              }
            ]
          }
        },
        "Ms2DashpipelineDashdev": {
          "Type": "AWS::StepFunctions::StateMachine",
          "Properties": {
            "DefinitionString": "{\n  \"Comment\": \"Pipeline MS2: S3 Clone -> Orchestrator -> Webhook\",\n  \"StartAt\": \"Initialize\",\n  \"QueryLanguage\": \"JSONata\",\n  \"States\": {\n    \"Initialize\": {\n      \"Type\": \"Pass\",\n      \"Assign\": {\n        \"jobId\": \"{% $states.input.jobId %}\",\n        \"repoUrl\": \"{% $states.input.repoUrl %}\",\n        \"commitSha\": \"{% $states.input.commitSha %}\",\n        \"webhookUrl\": \"{% $states.input.webhookUrl %}\",\n        \"s3Prefix\": \"{% 'repos/' & $states.input.jobId & '/' & $states.input.commitSha %}\"\n      },\n      \"Next\": \"Pull Repo to S3\"\n    },\n    \"Pull Repo to S3\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Arguments\": {\n        \"FunctionName\": \"arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-pullRepoToS3\",\n        \"Payload\": {\n          \"jobId\": \"{% $jobId %}\",\n          \"repoUrl\": \"{% $repoUrl %}\",\n          \"commitSha\": \"{% $commitSha %}\",\n          \"s3Prefix\": \"{% $s3Prefix %}\"\n        }\n      },\n      \"Assign\": {\n        \"s3Bucket\": \"{% $states.result.Payload.s3Bucket %}\",\n        \"s3Key\": \"{% $states.result.Payload.s3Key %}\",\n        \"repoMetadata\": \"{% $states.result.Payload.repoMetadata %}\"\n      },\n      \"Next\": \"Run Orchestrator\"\n    },\n    \"Run Orchestrator\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Arguments\": {\n        \"FunctionName\": \"arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-orchestrator\",\n        \"Payload\": {\n          \"s3Bucket\": \"{% $s3Bucket %}\",\n          \"s3Key\": \"{% $s3Key %}\",\n          \"isRelease\": \"{% $count($repoMetadata.tags) > 0 or $repoMetadata.hasChangelog %}\",\n          \"orchestratorRaw\": \"{% 'Metadati Repo: ' & $string($repoMetadata) %}\"\n        }\n      },\n      \"Assign\": {\n        \"finalReport\": \"{% $states.result.Payload %}\"\n      },\n      \"Next\": \"Notify Webhook\"\n    },\n    \"Notify Webhook\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:states:::lambda:invoke\",\n      \"Arguments\": {\n        \"FunctionName\": \"arn:aws:lambda:eu-central-1:503104739946:function:ms2-analysis-service-dev-webhookSender\",\n        \"Payload\": {\n          \"webhookUrl\": \"{% $webhookUrl %}\",\n          \"report\": \"{% $finalReport %}\"\n        }\n      },\n      \"Next\": \"Success\"\n    },\n    \"Success\": {\n      \"Type\": \"Succeed\"\n    }\n  }\n}",
            "RoleArn": {
              "Fn::GetAtt": [
                "Ms2DashpipelineDashdevRole",
                "Arn"
              ]
            },
            "StateMachineName": "ms2-pipeline-dev"
          },
          "DependsOn": [
            "Ms2DashpipelineDashdevRole"
          ]
        },
        "ApiGatewayRestApi": {
          "Type": "AWS::ApiGateway::RestApi",
          "Properties": {
            "Name": "dev-ms2-analysis-service",
            "EndpointConfiguration": {
              "Types": [
                "EDGE"
              ]
            },
            "Policy": ""
          }
        },
        "ApiGatewayResourceAnalyze": {
          "Type": "AWS::ApiGateway::Resource",
          "Properties": {
            "ParentId": {
              "Fn::GetAtt": [
                "ApiGatewayRestApi",
                "RootResourceId"
              ]
            },
            "PathPart": "analyze",
            "RestApiId": {
              "Ref": "ApiGatewayRestApi"
            }
          }
        },
        "ApiGatewayMethodAnalyzePost": {
          "Type": "AWS::ApiGateway::Method",
          "Properties": {
            "HttpMethod": "POST",
            "RequestParameters": {},
            "ResourceId": {
              "Ref": "ApiGatewayResourceAnalyze"
            },
            "RestApiId": {
              "Ref": "ApiGatewayRestApi"
            },
            "ApiKeyRequired": "<REDACTED>",
            "AuthorizationType": "NONE",
            "Integration": {
              "IntegrationHttpMethod": "POST",
              "Type": "AWS_PROXY",
              "Uri": {
                "Fn::Join": [
                  "",
                  [
                    "arn:",
                    {
                      "Ref": "AWS::Partition"
                    },
                    ":apigateway:",
                    {
                      "Ref": "AWS::Region"
                    },
                    ":lambda:path/2015-03-31/functions/",
                    {
                      "Fn::GetAtt": [
                        "WrapperAdapterLambdaFunction",
                        "Arn"
                      ]
                    },
                    "/invocations"
                  ]
                ]
              }
            },
            "MethodResponses": []
          },
          "DependsOn": [
            "WrapperAdapterLambdaPermissionApiGateway"
          ]
        },
        "ApiGatewayDeployment1774720925298": {
          "Type": "AWS::ApiGateway::Deployment",
          "Properties": {
            "RestApiId": {
              "Ref": "ApiGatewayRestApi"
            },
            "StageName": "dev"
          },
          "DependsOn": [
            "ApiGatewayMethodAnalyzePost"
          ]
        },
        "WrapperAdapterLambdaPermissionApiGateway": {
          "Type": "AWS::Lambda::Permission",
          "Properties": {
            "FunctionName": {
              "Fn::GetAtt": [
                "WrapperAdapterLambdaFunction",
                "Arn"
              ]
            },
            "Action": "lambda:InvokeFunction",
            "Principal": "apigateway.amazonaws.com",
            "SourceArn": {
              "Fn::Join": [
                "",
                [
                  "arn:",
                  {
                    "Ref": "AWS::Partition"
                  },
                  ":execute-api:",
                  {
                    "Ref": "AWS::Region"
                  },
                  ":",
                  {
                    "Ref": "AWS::AccountId"
                  },
                  ":",
                  {
                    "Ref": "ApiGatewayRestApi"
                  },
                  "/*/*"
                ]
              ]
            }
          }
        },
        "RepositoryBucket": {
          "Type": "AWS::S3::Bucket",
          "Properties": {
            "BucketName": "ms2-analysis-repos-bucket-dev-503104739946",
            "LifecycleConfiguration": {
              "Rules": [
                {
                  "Id": "AutoDeleteOldZips",
                  "Status": "Enabled",
                  "ExpirationInDays": 1
                }
              ]
            }
          }
        }
      },
      "Outputs": {
        "ServerlessDeploymentBucketName": {
          "Value": "serverless-framework-deployments-eu-central-1-8f45d705-234a",
          "Export": {
            "Name": "sls-ms2-analysis-service-dev-ServerlessDeploymentBucketName"
          }
        },
        "WrapperAdapterLambdaFunctionQualifiedArn": {
          "Description": "Current Lambda function version",
          "Value": {
            "Ref": "WrapperAdapterLambdaVersionb8t30mWRFgnycuhZyc3KUMbXfP4iyhSJGDu4tCgyrE"
          },
          "Export": {
            "Name": "sls-ms2-analysis-service-dev-WrapperAdapterLambdaFunctionQualifiedArn"
          }
        },
        "PullRepoToS3LambdaFunctionQualifiedArn": {
          "Description": "Current Lambda function version",
          "Value": {
            "Ref": "PullRepoToS3LambdaVersionAOAceQ3TjRi7Fyr3Lj2dL4FaBb9Q3cz2bkPevHeXSY"
          },
          "Export": {
            "Name": "sls-ms2-analysis-service-dev-PullRepoToS3LambdaFunctionQualifiedArn"
          }
        },
        "WebhookSenderLambdaFunctionQualifiedArn": {
          "Description": "Current Lambda function version",
          "Value": {
            "Ref": "WebhookSenderLambdaVersionUi3UXvVmN4w36Cn2ZkLZ7ACLrek1z6tuS45wlHsg1Q"
          },
          "Export": {
            "Name": "sls-ms2-analysis-service-dev-WebhookSenderLambdaFunctionQualifiedArn"
          }
        },
        "OrchestratorLambdaFunctionQualifiedArn": {
          "Description": "Current Lambda function version",
          "Value": {
            "Ref": "OrchestratorLambdaVersiondJoVQbQ3MvK2gIcTCLC2KgKFS1O6ACbnb7U0sNGo"
          },
          "Export": {
            "Name": "sls-ms2-analysis-service-dev-OrchestratorLambdaFunctionQualifiedArn"
          }
        },
        "OwaspAgentLambdaFunctionQualifiedArn": {
          "Description": "Current Lambda function version",
          "Value": {
            "Ref": "OwaspAgentLambdaVersionO6bHhv7el3x9lvSxNipJ67bPJWyKROpDn4YpFZe64k"
          },
          "Export": {
            "Name": "sls-ms2-analysis-service-dev-OwaspAgentLambdaFunctionQualifiedArn"
          }
        },
        "TestAgentLambdaFunctionQualifiedArn": {
          "Description": "Current Lambda function version",
          "Value": {
            "Ref": "TestAgentLambdaVersionkFprWSc0I1qaTNgGziMQv1Pb5Y5bSrQHOghHcq3I"
          },
          "Export": {
            "Name": "sls-ms2-analysis-service-dev-TestAgentLambdaFunctionQualifiedArn"
          }
        },
        "DocsAgentLambdaFunctionQualifiedArn": {
          "Description": "Current Lambda function version",
          "Value": {
            "Ref": "DocsAgentLambdaVersionkbhDezBtT6cjByr0gUmx2KQXajFmSGD3ffJX0uWD80"
          },
          "Export": {
            "Name": "sls-ms2-analysis-service-dev-DocsAgentLambdaFunctionQualifiedArn"
          }
        },
        "Ms2DashpipelineDashdevArn": {
          "Description": "Current StateMachine Arn",
          "Value": {
            "Ref": "Ms2DashpipelineDashdev"
          },
          "Export": {
            "Name": "sls-ms2-analysis-service-dev-Ms2DashpipelineDashdevArn"
          }
        },
        "ServiceEndpoint": {
          "Description": "URL of the service endpoint",
          "Value": {
            "Fn::Join": [
              "",
              [
                "https://",
                {
                  "Ref": "ApiGatewayRestApi"
                },
                ".execute-api.",
                {
                  "Ref": "AWS::Region"
                },
                ".",
                {
                  "Ref": "AWS::URLSuffix"
                },
                "/dev"
              ]
            ]
          },
          "Export": {
            "Name": "sls-ms2-analysis-service-dev-ServiceEndpoint"
          }
        }
      }
    }
  }
}